<!-- sidebar.component.html -->

<nav id="sidebar" class="bg-dark">
  <div class="sidebar-header text-white">
    <h3>School Managemenet</h3>
  </div>

  <ul class="list-unstyled components">
    <!-- Student link -->
    <li>
      <a class="text-white" routerLink="/students">
        <i class="fas fa-user-graduate px-2"></i> Students
      </a>
    </li>

    <!-- Course link -->
    <li>
      <a class="text-white" routerLink="/courses">
        <i class="fas fa-book px-2"></i> Courses
      </a>
    </li>
  </ul>
</nav>
